@model IEnumerable<StoreExample.Models.PhoneItem>

<div id="resultsphone">
    <h3>Все телефоны данной модели: @Model.First().ModelOfPhone</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.ModelOfPhone</li>
        }
    </ul>
</div>
