@model IEnumerable<StoreExample.Models.PhoneItem>

<div>
    <h3>Все телефоны данной модели: @Model.First().ModelOfPhone</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.ModelOfPhone - @item.Price руб</li>
        }
    </ul>
</div>